.wrapper {
    display: block;
}

.wrapper::before {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.wrapper .wrapper-outer .wrapper-title {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.wrapper .wrapper-outer .wrapper-inner {
    border: 1px solid rgba(0,0,0,0.2);
    margin: 20px auto;
    display: block;
    width: 100%;
    max-width: 80%;
    padding: 15px;
}

.wrapper .wrapper-outer .wrapper-inner .inner-title {
    font-size: 14px;
    margin-bottom: 15px;
}

.wrapper .wrapper-outer .wrapper-inner .inner-form .form-label {
    text-align: end;
    margin: 15px 0;
}

.wrapper .wrapper-outer .wrapper-inner .inner-form .form-input {
    position: relative;
    margin: 15px 0;
}

.wrapper .wrapper-outer .wrapper-inner .inner-form .form-input .input-email {
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
    width: 75%;
    height: 35px;
    padding: 8px 15px;
    padding-right: 60px;
}

.wrapper .wrapper-outer .wrapper-inner .inner-form .form-input .input-submit {
    position: absolute;
    right: 25%;
    top: 0;
    border: navajowhite;
    color: white;
    background: black;
    height: 35px;
    padding: 0 10px;
}

.wrapper .wrapper-outer .goto-back {
    margin-bottom: 15px;
    margin-left: 115px;
    font-size: 14px;
}

@media (max-width: 767px){
    .wrapper .wrapper-outer .wrapper-inner .inner-form .form-label {
        text-align: start;
    }
}